{% extends 'template.html' %}
{% block  title %}
    <title>Авторизация</title>
{% endblock  %}
{% block content_0 %}
    <h2>{{message}}</h2>
    <div class="head_box">Введите аккаунт и пароль
        <form action="{{url_for('gui_ckop.exit_lc')}}" method="post">
            <button class="btn btn-secondary btn_ctr ext_btn">X</button>
        </form>
    </div> 
    <div class="main_box">
    <form action="{{url_for('gui_ckop.auth')}}" method="post">
        <div class="mb-3">
            <input class="form-control inp_ctr inp_ctr_0" type="text" value="{{addr}}" name="addr" placeholder="address"
            {% if addr %}
            readonly="true" 
            {% endif %}>
            <input class="form-control inp_ctr inp_ctr_1"type="text" name="login" placeholder="login" value="{{login_old}}">
            <input class="form-control inp_ctr inp_ctr_2" type="password" name="password" placeholder="Password">
            <button type="submit" class="btn btn-secondary btn_ctr btn_ctr_10">Войти</button>
        </div>
    </form>
    <form action="{{url_for('gui_ckop.reg')}}" method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-secondary btn_ctr btn_ctr_2">Зарегистрироваться</button>
        </div>
    </form>
    <div class="{{mes_type}} status_class st_cls">{{message}}</div>
    <a class="rest_passw" href="#">Забыли пароль?</a>
    </div>
{% endblock content_0 %}